/* styles.css */
img {
    max-width: 100%;
    height: auto;
}

.map-container {
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
